html {
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: whitesmoke;
    text-decoration: underline;
    font-weight: bold;
}

body,
html {
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.nav-links {
    display: flex;
    align-items: center;

}

.nav-links li {
    margin: 0 30px;
    color: white;
}

header {
    width: 100vw;
    height: 60vw;
    background-image: url(img/header-BB.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
    color: white;

}

.line {
    width: 150px;
    height: 4px;
    background: red;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: rgb(255, 0, 0);
    border-radius: 30px;
    color: whitesmoke;
}

/*events*/
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: black;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: rgb(255, 255, 255);
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: black;
    margin: 20px auto;
}

p {
    color: black;
    padding: 0px 40px;
}

.events .ctn {
    margin-top: 30px;
}

.row .col img {
    width: 80%;
}

.explore {
    width: 100%;
    height: 100vh;
    background-image: url(./img/Untitled\ design\ \(1\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 7vmin;
}

.explore-content p {
    color: white;
}

.explore-content .ctn {
    margin-top: 40px;
}

.contet-col {
    width: 40%;
}

.image-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.image-gallery img {
    max-width: 300px;
    margin: 10px;
}
.contet-col h1 {
    font-size: 7vmin;
}
.footer {
    width:100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: gray;
    text-align: center ;
}
.footer p {
    color: whitesmoke;
    margin: 20px
    ;
}